.modal-dialog {
    width: 650px !important;
    color: #586783;
}

.titulo-modal {
    color: #586783;
}


.div-dialog {
    background-color: #f3f4f6;
}

.btn-registrar {
    background-color: #086eb4;
    color: white;
}